@using Microsoft.AspNet.Identity
@using NTUBAdministrator.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    @*
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>使用本機帳戶登入。</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.AccountID, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AccountID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AccountID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="登入" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    *@
    <div class="jumbotron" style="margin-top:15px">
        <h1>登入</h1>
        <p>
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary" id="Google" name="provider" value="Google" title="Signin with Google account">Signin with Google account</button>
            }
        </p>
    </div>
</div>
