<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 國立臺北商業大學學務行政資訊系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/TreeMenu/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        html, body {
            height: 100%;
        }
        body{
            padding-bottom:0;
        }
        ul.pde li {
            list-style-type: none;
        }
        ul.pde a{
            color:#FFFFFF;
        }

        ul.pde a:focus {
            text-decoration-line:none;
        }
        li a img{
            width:10%;
            height:10%;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">國立臺北商業大學學務行政資訊系統</a>
                @*@Html.ActionLink("國立臺北商業大學學務行政資訊系統", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("辦理活動系統", "Index", "Activity")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    

    <div class="container" style="margin:0; padding:0; height:100%;">
        <div style="width:20%; float:left; margin:0; height:100%; background-color:#473E7B;">
            <ul class="pde">
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li>@Html.ActionLink("辦理活動系統", "Index", "Activity")
                    <ul>
                        <li>@Html.ActionLink("行事曆", "ActivityCalendar", "Activity")</li>
                        @if (@Session["AccountID"] != null)
                        {
                            <li>@Html.ActionLink("活動管理", "ActivityManagement", "Activity")</li>
                        }
                         
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="body-content" style="width:80%; overflow: hidden">
            @RenderBody()
            <hr />
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
