@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ActivityCalendar", "Activity")
        </li>
        <li>@Html.ActionLink("登出", "Logout", "Account")</li>
    </ul>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

    @*
        @if (@Session["AccountID"] == null)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }

        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + @Session["UserName"].ToString() + "!", "Index", "Home")
                </li>
                <li>@Html.ActionLink("登出", "Logout", "Account")</li>
            </ul>
        }
    *@
    @*
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @@
                    @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                @@
                @Html.ActionLink("Hello " + @Session["UserName"].ToString() + "!", "Index", "Home")

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
        </ul>
    }
*@